{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 150,
  "tabWidth": 2,
  "semi": true,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*rc",
      "options": { "parser": "json" }
    }
  ]
}
